[submodule "widen"]
	path = widen
	url = git@github.com:mskelton/dotfiles-widen.git
[submodule "dottie"]
	path = dottie
	url = git@github.com:mskelton/dottie.git
[submodule "personal"]
	path = personal
	url = git@github.com:mskelton/dotfiles-personal.git
[submodule "test/bats"]
	path = test/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "test/test_helper/bats-support"]
	path = test/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "test/test_helper/bats-assert"]
	path = test/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
