node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Neovim spell file
nvim/spell/*.spl

# EmmyLua annotations for hammerspoon
EmmyLua.spoon/annotations/

# Farm lockfile
farm.lock

# Python
__pycache__/
