[submodule "widen"]
	path = widen
	url = git@github.com:mskelton/dotfiles-widen.git
[submodule "dottie"]
	path = dottie
	url = https://github.com/mskelton/dottie
[submodule "personal"]
	path = personal
	url = git@github.com:mskelton/dotfiles-personal.git
