[submodule "dottie"]
	path = dottie
	url = git@github.com:mskelton/dottie.git
[submodule "personal"]
	path = personal
	url = git@github.com:mskelton/dotfiles-personal.git
[submodule "work"]
	path = work
	url = git@github.com:mskelton/dotfiles-work
