{
  "semi": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["vscode/**"],
      "options": {
        "jsonRecursiveSort": true,
        "plugins": ["prettier-plugin-sort-json"]
      }
    }
  ]
}
