{
  "semi": false,
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["vscode/**"],
      "options": {
        "plugins": ["prettier-plugin-sort-json"],
        "parser": "json",
        "jsonSortOrder": "{\"/.*/\": \"caseInsensitiveLexical\"}"
      }
    }
  ]
}
