set visualbell
set clipboard+=unnamed
set ignorecase

:map ,s <Action>(SaveDocument)
:map ,w <Action>(CloseEditor)
:map go <Action>(OptimizeImports)
:map <space>fp <Action>(GotoFile)
:map <space>fs <Action>(FindInPath)
:map <space>fp <Action>(GotoFile)
:map <space>rn <Action>(RenameElement)

:map ; :

:map [b <Action>(PreviousTab)
:map ]b <Action>(NextTab)

:map <space>pc :source ~/.ideavimrc<CR>
