extends javascriptreact, typescript

global !p
def component_name(filename):
    return filename.replace('-', ' ').title().replace(' ', '')
endglobal


snippet rp
export interface `!p snip.rv = component_name(snip.basename)`Props {
	$1
}$0
endsnippet

snippet rpn
`!p snip.rv = component_name(snip.basename)`Props
endsnippet
